body {
  background-color: #7B66B3;
  font-family: 'Baskerville', serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
}
.pic {
  padding: 10px;
  border-radius: 50px;
  width: 300px;
  height: 200px;
}
